Django==2.2.20
django-bower==5.2.0
django-bulma==0.6.0
django-crispy-forms==1.8.1
django-debug-toolbar==2.1
-e git+https://github.com/djsutho/django-debug-toolbar-request-history.git@35f520af3c4a6004f38cd7610a2bce451d7c61ee#egg=django_debug_toolbar_request_history
django-postman==3.6.2
django-related-select==0.9.3
django-twitter-bootstrap==3.3.0
icalendar==4.0.3
python-dateutil==2.8.1
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
