{% load static %}
{% load i18n %}
{% block postman_menu %}

<aside class="menu " id="menu">
 

  <ul class=" menu-list " >
    <br>
    <br>
    <br>
    <li><a class="menu-item has-text-white has-text-weight-semibold is-size-5 " href="{% url 'postman:inbox' %}">&raquo;&nbsp;{% trans "Inbox" %}{% if unread_count %} <strong>({{ unread_count }})</strong>{% endif %}</a></li>
    <li><a class="menu-item has-text-white has-text-weight-semibold is-size-5" href="{% url 'postman:sent' %}">&raquo;&nbsp;{% trans "Sent" %}</a></li>
    <li ><a class="menu-item has-text-white has-text-weight-semibold is-size-5" href="{% url 'postman:write' %}">&raquo;&nbsp;{% trans "Write" %}</a></li>
    <li><a class="menu-item has-text-white has-text-weight-semibold is-size-5" href="{% url 'postman:archives' %}">&raquo;&nbsp;{% trans "Archives" %}</a></li>
    <li><a class="menu-item has-text-white has-text-weight-semibold is-size-5" href="{% url 'postman:trash' %}">&raquo;&nbsp;{% trans "Trash" %}</a></li>
   </ul>
</aside>
{% endblock %}
