{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block content %}
    <p id="title" class="title has-text-centered">
        Edytuj informacje o samochodzie
      </p>
    <div class="column is-half is-offset-one-quarter" >
     <div class="box" >

    <form method='POST' action=''>
      {% csrf_token %}
        <div id="title" class="label">Edytowane auto: {{ carinst.car }}</div>
      {{ form|crispy }}
      <input class='button is-primary' type='submit' value='Zatwierdź'/>
    </form>

  </div>
    </div>
{% endblock content %}