{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block content %}
    <p id="title" class="title has-text-centered">
        Dokonaj rezerwacji
      </p>
    <form method='POST' action=''>
      
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Podaj opis problemu
      </p>
     
    </header>

    <div class="card-content">
      <div class="content">
        <div class="field">
        {% csrf_token %}
        {{ form.description}}
      </div>
    </div>
    <footer class="card-footer">
      <div class="card-footer-item">
        <a class="label ">
          <span class="icon is-small is-left">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </span>
            Data
           
            {{ form.datetime_from}}
            {{ form.datetime_from.errors }}
            
    </a>
  </div>
      <a class=" label card-footer-item">
        <span class="icon is-small is-left">
          <i class="fas fa-car" aria-hidden="true"></i>
        </span>
          Wybierz auto
          {{ form.car_instance}}
      </a>
      <a class="card-footer-item">
        
        <input class='button is-primary' type='submit' value='Dalej'/>
    </span>
       </a>
      
    </a>
    </footer>
    
  </div>
</form>

{% endblock content %}