{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block content %}
    <p id="title" class="title has-text-centered">
        Zostaw opinie
      </p>
    <form method='POST' action=''>
      
  <div class="card">
   

    <div class="card-content">
      <div class="content">
        <div class="field">
        {% csrf_token %}
        {{ form.opinion}}
      </div>
    </div>
    <footer class="card-footer">
     
  
        
        <input class='button is-primary' type='submit' value='Dalej'/>
    
    </footer>
    
  </div>
  </div>
</form>
{% endblock content %}