<!DOCTYPE html>

{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div id="login-container" class="container-fluid">
    <div class="column is-half is-offset-one-quarter" id="login-section">

<p id="title" class="title is-dark has-text-centered">
        Logowanie
      </p>
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
      <div class="field">
  <div class="control">
      {{ form|crispy}}

  </div>
</div>

{{ form.is_staff }}
    <input class="button is-primary" type="submit" value="Login" />
    <input type="hidden" name="next" value="{{ request.GET.next  }}" />
  </form>
      <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

  </div>
  {# Assumes you setup the password_reset view in your URLconf #}
</section>
    </div>
{% endblock %}